:root{
    --yellow: #EAC926;
    --blue : #03264C;
    --lightblue: #1259c3;
    --darkGray : #666;
    --lightGray : #ebebeb;
    --green: #39b54a;
    --white : #ffffff;
    --black : #000000;
}
*{
    font-family: 'Roboto';
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body.home{
    background-color: var(--lightGray);
}
.nav-header{
    background-color: var(--yellow);
}
.nav-header{
    display: flex;
    flex-direction: column;
}
.nav-logo img{
    width: 30%;
    padding: 4px;
}
.nav-search{
    margin-left: 5px;
}
.nav-search-input{
    padding: 3px;
    border-radius: 5px;
}
.nav-search-btn{
    padding: 2px;
    background-color: var(--white);
}
p{
    text-align: center;
    margin: 5px;
}
/*nav ul li a{
    text-decoration: none;
    color: var(--black);
}
nav>ul>li{
    list-style: none;
}
nav i> .burger-menu{
    justify-content: center;
    align-items: center;
}*/
div i.fa-bars{
    margin-bottom: 8px;
}
.fa-bars{
    background-color: var(--lightblue);
    color : var(--white);
    border: 1px solid --lightblue;
    border-radius: 20%;
    padding: 8px;
}
.burger-menu{
    display: inline-block;
    text-align: center;
}
section.home-banner img{
display: block;
height: 100%;
width: 100%;
object-fit: cover;
}
h3{
    color: grey;
    margin: 8px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
main{
    width: 90vw;
}
main.container{
    margin-left: auto;
    margin-right: auto;
}
recommendations-card>article>img{
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    cursor: pointer;
    /*box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );*/
    align-items: center;
}
article>img{
    width: 100%;
    object-fit: cover;
}

.details-product{
    border-top: 1px solid var(--lightGray);
    padding: 1em;
    display: flex;
    flex-flow: column;
    background-color: var(--white);
}
article, .recommendations-card{
    margin-bottom: 10px;
}
article>div.details-product>div.truck-icon-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border : 1px solid var(--green);
}
.truck-icon-container{
    position: relative;
    left: 50px;
}
    span>i.fa-truck{
    color: var(--green);
}
.product-info-desc{
    color: var(--green);
}
footer{
    text-align: center;
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
footer>ul>li{
    list-style: none;
}
footer>ul>li{
    margin-bottom: 15px;
}
footer i{
    font-size: 2em;
    color: var(--lightblue);
}
b{
    font-size: 10px;
    color: var(--darkGray);
}
/*Desktop Estandar -> 1280px - (1440px)*/
@media (max-width:1280px){
    .nav-logo{
        width: 10%;
        padding: 4px;
    }
    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/*(Tablet*/
@media (min-width:520px) {
    
}
