:root{
    --yellow: #EAC926;
    --blue : #03264C;
    --lightblue: #1259c3;
    --darkGray : #666;
    --lightGray : #ebebeb;
    --green: #39b54a;
    --white : #ffffff;
    --black : #000000;
}
*{
    font-family: 'Roboto';
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body.home{
    background-color: var(--lightGray);
}
.nav-header{
    background-color: var(--yellow);
}
.nav-logo{
    max-width: 250px;
    flex: 1.7;
}
header{
    display: flex;
    flex-direction: column;
}
.nav-search{
    margin-left: 5px;
}
.nav-search-input{
    flex: 1;
    padding: 3px;
    border: none;
    border-radius: 5px;
}
.nav-search-btn{
    padding: 2px;
    background-color: var(--white);
}
p{
    text-align: center;
    margin: 5px;
}
.nav-header-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.nav-header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}
.nav-menu{
    width: 100%;
    text-align: center;
}
.nav-menu-list{
    display: flex;
}
ul.nav-menu-list li {
    margin: 0 10px 0 10px;
}
.nav-menu-list{
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav-header-plus{
    display: flex;
}
ul.nav-header-plus li {
    margin: 0 10px 0 10px;
}
.nav-header-plus{
    padding-top: 8px;
    padding-bottom: 8px;
}
nav ul li a{
    text-decoration: none;
    color: var(--black);
}
nav>ul>li{
    list-style: none;
}
div i.fa-bars{
    margin-bottom: 8px;
}
.fa-bars{
    background-color: var(--lightblue);
    color : var(--white);
    border: 1px solid --lightblue;
    border-radius: 20%;
    padding: 8px;
}
section.home-banner img{
display: block;
height: 100%;
width: 100%;
object-fit: cover;
}
h3{
    color: grey;
    margin: 8px;
    text-align: center;
    font-size: 24px;;
}
.container{
    display: flex;
    flex-direction: column;
}
main{
    width: 90vw;
}
main.container{
    margin-left: auto;
    margin-right: auto;
}
.recommendations-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.recommendations-card>article>img{
    max-width: 280px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
    align-items: center;
}
article>img{
    width: 100%;
    object-fit: cover;
}
.details-product{
    border-top: 1px solid var(--lightGray);
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
}
article{
    margin-bottom: 10px;
}
article>div.details-product>div.truck-icon-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border : 1px solid var(--green);
    padding: 5px;
}
.product-info-name{
    width: 100%;
}
.truck-icon-container{
    right: 15px;
    top: -15px;
    position: absolute;
}
.details-product{
    position: relative;
}
.details-product{
    border-radius: 6px;
}
.container,.recommendations-card{
    padding-top: 8px;
    padding-bottom: 8px;
}
.product-info-price{
    margin-left: 8px;
    margin-right: 8px;
}
span>i.fa-truck{
    color: var(--green);
}
.truck-icon-container>span>i.fa-truck{
    transition: transform 0.3s ease;
}
.truck-icon-container>span>i:hover{
    transform: rotate(-90deg);
}
.product-info-desc{
    color: var(--green);
}
.product-info-price{
    font-size: 18px;
}
.product-info-des{
    font-size: 16px;
}
.product-info-name{
    font-size: 16px;
    margin-left: 8px;
}
.lg-desktop{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: box-shadow 0.5s ease-in-out;
}
footer{
    text-align: center;
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.info-site{
    display: flex;
    flex-direction: column;
}

footer i{
    font-size: 2em;
    color: var(--lightblue);
}
.info-site b{
    font-size: 24px;
    color: var(--darkGray);
}
.info-site{
    padding: 40px 50px;
}
.text-info{
    color: var(--darkGray);
}
i.fa-solid {
    margin-bottom: 15px;
}
.copy-right{
    width: 100%;
}
/*MOBILE*/
@media (min-width: 481px){
    .nav-logo>img{
        max-width: 150px;
    }
    .nav-header-menu {
        display: none;
    }
}
/*TABLET & LAPTOP*/
@media (min-width: 769px){
    .nav-logo>img{
        max-width: 150px;
    }
    .footer-container {
        flex-direction: row;
    }
    .nav-header-menu {
        display: none;
    }
    .product-info-name{
        display: none;
    }
    .lg-desktop:hover .product-info-name{
        display: block;
    }
    .md-mobile{
        box-shadow: none;
    }
}
/*DESKTOP*/
@media (min-width: 1280px){
    .burger-menu{
        display: none;
    }
    .nav-header-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px;
    }
}