<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="home">
    <header class="nav-header">
        <div class="nav-header-content nav-header-lg">
            <a href="#" class="nav-logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </a>
        </div>
        <div class="nav-header-lg">
            <form class="nav-search" action="#">
                <input type="text" name="search" class="nav-search-input" placeholder="Buscar productos, marcas y más…">
                <button><i class="fa-solid fa-magnifying-glass nav-search-btn"></i></button>
            </form>
        </div>
        <p class="text-icon nav-header-lg"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
       
        <nav class="nav-header-menu nav-header-menu-switch">
            <ul class="nav-menu-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-header-plus">
                <li><a href="/register">Creá tu cuenta  <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá  <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav> 
        <div class="burger-menu nav-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <form action="/" method="" enctype="multipart/form-data" class="formulario">
        <fieldset>
            <legend>Información Personal</legend>
            <div>
                <input type="text" name="full-name" id="full-name" placeholder="Nombre y Apellido">
            </div>
            <div>
                <input type="text" name="user-name" id="user-name" placeholder="Nombre de Usuario">
            </div>
            <div>
                <div>Fecha de Nacimiento</div>
                <input type="date" name="birthdate" id="birthdate">
            </div>
            <div>
                <input type="text" name="address" id="address" placeholder="Domicilio">
            </div>
            <div>
                <div>Perfil de Usuario</div>
                <input type="radio" name="salesale" id="sale" value="comprador">Comprador
                <input type="radio" name="salesale" id="sale" value="comprador">Vendedor
            </div>
                <div>Categorías</div>
                <div>
                    <input type="checkbox" name="electro" id="electro" value="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox"" id="emoda" value="emoda">
                    <label for="emoda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="hogar" id="hogar" value="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="jugeteria" id="jugeteria" value="jugeteria">
                    <label for="jugeteria">Jugetería</label>
                </div>
                <div>
                    <input type="checkbox" name="health" id="health" value="health">
                    <label for="health">Vida Sana</label>
                </div>
            <div>
                <input type="file" name="photo" id="photo">
                <button type="button">Subir Foto</button>
            </div>
            <div>
                <input type="password" name="password-ml" id="password-ml" placeholder="Contraseña">
            </div>
            <div>
                <input type="re-password" name="re-password-ml" id="password-ml" placeholder="Confirmar Contraseña">
            </div>
            <button type="submit">Enviar</button>
            <button type="reset">Reset</button>
        </fieldset>
    </form>
</body>
</html>